.btn,
.first,
.second {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

.first {
    color: rgb(3, 2, 2);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
}

.first:hover {
    background-color: #34495e;
    color: rgb(255, 255, 255);
}

.second {
    background-color: #6c757d;
    color: white;
}