.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(40, 40, 40, 0.9);
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.menu {
  display: flex;
  gap: 1rem;
}

.nav-link{
  color: rgb(3, 2, 2);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  align-items: center;
  background-color: rgb(252, 249, 249);
}


.nav-link:hover {
  background-color: #34495e;
  color: rgb(255, 255, 255);
}